@import url('https://fonts.googleapis.com/css?family=Joti+One');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');

.kav {
  font-family: 'Kavivanar', cursive;
}

span {
 font-family: 'Joti One', cursive;
}

@media screen and (max-width: 575px) {
   span {
     font-size: 50px;
   }
 }

// small and larger
@media screen and (min-width: 576px) {
  span {
    font-size: 60px;
  }
}
