@import url('https://fonts.googleapis.com/css?family=Lora|Macondo|Libre+Barcode+128+Text');

input[type="radio"] {
  margin-right: 10px;
}

.lora {
  font-family: 'Lora', cursive;
  color:#673ab7;
}

button {
  font-size: 40pt;
}

h1 {
  font-family: 'Kavivanar', cursive;
}

.decode {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 60pt;
}
