<div>
  <p class="lead pt-4">The questions below were devised based on the ideas put forth by Casey
    Rosenthal
    in
    <a href="https://www.linkedin.com/pulse/engineering-personas-casey-rosenthal/">his
      post</a> titled quite fittingly: <i>"Engineering Personas"</i>.
    By examining your answers and applying advanced machine learning technique, included but not
    limited to, AI, NLP, CNN, DNN, RNN, and of course the ABC,
    we are able to diagnose
    the kind of engineering persona you are most likely to be. <br/>
    While none of this is backed up by actual research, it's a cool experiment nonetheless.
    Shall we begin?
  </p>

  <form #form="ngForm" class="pt-5">
    <div *ngFor="let question of questions">
      <div class="d-flex">
        <h4 class="lora">
          {{question.text}}
        </h4>
        <span class="px-2 ml-auto">({{question.id}}/{{questions.length}})</span>
      </div>
      <hr class="my-4">

      <div class="pb-5 mx-5">
        <div *ngFor="let answer of question.options" class="pb-1">
          <label>
            <input type="radio" [value]="answer.score"
                   [name]="question.id"
                   [id]="question.id + answer.label"
                   [(ngModel)]="question.selectedScore"
                   required>
            <span>{{answer.label}}</span>
          </label>
        </div>
      </div>

    </div>
  </form>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-info btn-lg"
            [disabled]="!form.valid"
            (click)="computePersona()">Decode me!
    </button>
  </div>
</div>
