@import url('https://fonts.googleapis.com/css?family=Lora|Macondo|Libre+Barcode+128+Text');

label {
  font-family: 'Lora', cursive;
  font-size: 14pt;
  padding-left: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.lora {
  font-family: 'Lora', cursive;
}

button {
    margin-bottom: 0.5cm;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 40pt;
}

h1 {
  font-family: 'Kavivanar', cursive;
}
