<div *ngFor="let question of questions" class="form-row">
  <h4>{{question.text}}</h4>
  <form class="form-group" #f="ngForm">
    <label class="center-block" *ngFor="let answer of question.options">
      <input type="radio" name="unique" [value]="answer.score"
             [(ngModel)]="question.selectedScore">
      {{answer.id}} <br/>
      <!--{{answer.score | json}}-->
    </label>
  </form>
</div>

<!--<div *ngFor="let question of questions ">-->
  <!--{{question.selectedScore | json}}-->
<!--</div>-->
